<nav class="navbar navbar-light bg-light px-3">
  <span
    >Bienvenido, <strong>{{ auth.getUser() }}</strong></span
  >
  <button class="btn btn-outline-danger btn-sm" (click)="auth.logout()">
    Logout
  </button>
</nav>

<div class="container mt-4">
  <h2>Página de Turno</h2>
  <p>Complete los campos para generar el reporte:</p>

  <form (ngSubmit)="generarTurnos()" #turnoForm="ngForm">
    <div class="row g-3">
      <div class="col-md-10">

        <div class="mb-3">
          <button
            type="button"
            class="btn btn-primary me-2 btn-lg-custom"
            (click)="cargarComercios()"
          >
            Cargar Comercios
          </button>
        
          <button
            type="button"
            class="btn btn-danger btn-sm-square"
            (click)="limpiarComercios()"
          >
            X
          </button>
        </div>
        
        <div class="mb-3">
          <button
            type="button"
            class="btn btn-info me-2 btn-lg-custom"
            (click)="cargarServicios()"
          >
            Cargar Servicios
          </button>
        
          <button
            type="button"
            class="btn btn-danger btn-sm-square"
            (click)="limpiarServicios()"
          >
            X
          </button>
        </div>
        
        <div class="mb-3">
          <button
            type="button"
            class="btn btn-warning me-2 btn-lg-custom"
            style="background-color: rgb(255, 0, 191); border-color: rgb(255, 0, 128);"
            (click)="cargarTurnosExistentes()"
          >
            Ver últimos 20 existentes
          </button>
        </div>
       <!--  <div class="mb-3">
       
          <button
            type="button"
            class="btn btn-primary me-2 btn-lg"
            (click)="cargarComercios()"
          >
            Cargar Comercios
          </button>
        
         
          <button
            type="button"
            class="btn btn-danger btn-sm p-1"
            style="width: 35px; height: 35px;"
            (click)="limpiarComercios()"
          >
            X
          </button>
        </div>
        
        <div class="mb-3">
         
          <button
            type="button"
            class="btn btn-lg me-2"
            style="background-color: aquamarine; color: black;"
            (click)="cargarServicios()"
          >
            Cargar Servicios
          </button>
        
        
          <button
            type="button"
            class="btn btn-danger btn-sm p-1"
            style="width: 35px; height: 35px;"
            (click)="limpiarServicios()"
          >
            X
          </button>
        </div>
        
        <div class="mb-3">
       
          <button
            type="button"
            class="btn btn-warning btn-lg"
            (click)="cargarTurnosExistentes()"
          >
            Ver últimos 20 existentes
          </button>
        </div> -->
   
        <div class="row g-3">
          <div class="mt-4" *ngIf="comercios.length > 0">
            <h5>Comercios cargados:</h5>

            <div *ngFor="let comercio of comercios" class="row mb-2">
              <div class="col-md-2">
                <input
                  class="form-control"
                  [value]="comercio.idComercio"
                  readonly
                />
              </div>
              <div class="col-md-6">
                <input
                  class="form-control"
                  [value]="comercio.nombre"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <select
              [(ngModel)]="comercio"
              name="comercio"
              class="form-select"
              (change)="onComercioChange($event)"
            >
              <option value="">Seleccione un comercio</option>
              <option *ngFor="let c of comercios" [value]="c.idComercio">
                {{ c.nombre }}
              </option>
            </select>
          </div>
       
          <div class="col-md-6">
            <select [(ngModel)]="servicioId" name="servicioId" class="form-select">
              <option value="">Seleccione un servicio</option>
              <option *ngFor="let s of servicios" [value]="s.idServicio">{{ s.nombre }}</option>
            </select>

        </div> 

  
          <div class="col-md-6">
            <label for="fechaInicial" style="font-size: 0.8rem;">Fecha Inicial</label>
            <input
              type="date"
              [(ngModel)]="fechaInicial"
              name="fechaInicial"
              class="form-control"
            />
          </div>

          <div class="col-md-6">
            <label for="fechaInicial" style="font-size: 0.8rem;">Fecha Final</label>
            <input
              type="date"
              [(ngModel)]="fechaFinal"
              name="fechaFinal"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="col-md-2 d-flex align-items-center">
        <button type="submit" class="btn btn-primary w-100">Generar</button>
      </div>
    </div>
  </form>

  <div class="mt-4" *ngIf="turnos.length > 0">
    <table class="table table-bordered table-striped">
      <thead class="table-light">
        <tr>
          <th>Comercio</th>
          <th>Servicio</th>
          <th>Fecha Turno</th>
          <th>Fecha Inicio</th>
          <th>Hora Fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos">
          <td>{{ turno.comercio.nombre }}</td>
          <td>{{ turno.servicio.nombre }}</td>
          <td>{{ turno.fecha }}</td>
          <td>{{ turno.horaInicio }}</td>
          <td>{{ turno.horaFin }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
